POSTGRES_DB=moviechecker
POSTGRES_USER=moviechecker
POSTGRES_PASSWORD=MSGI707lGkWRcolwPL4Bdm5jWaEeYtKRQlOEbRi21Qw1N7x7LLkr2yT5WNL7tpmi
PGADMIN_DEFAULT_EMAIL=admin@xui123qweqwe.org
PGADMIN_DEFAULT_PASSWORD=Q4sV9JPzd7isVo97fmtDglPMMcJXwaGnNjY8DvXZ3pCJ0Ia6INCxgY4uEvqEy9Y6
REDIS_USER=ide
REDIS_PASSWORD=1z5cTmsXu3NMm5qrGk330jrE3RD7viCXkzq9iuJLncFzVOzeeyqx98ei0js6Aop2
APP_DOMAIN=xui123qweqwe.org
AUTHENTIK_MOVIECHECKER_CLIENT_SECRET=7A6KqyHGO5B22RagU1ORxf8sINGRPygwIV7s554DXnLkaErr3uH8vyFummm6dd4ZQaNVrj0psBVcJak4yUK7fJ2f8gAKNpID8tnB
AUTH_SECRET=changeme-nextauth-secret-at-least-32-chars-long-random
