APP_DOMAIN=xui123qweqwe.org
AUTHENTIK_POSTGRES_DB=authentik
AUTHENTIK_POSTGRES_USER=authentik
AUTHENTIK_POSTGRES_PASSWORD=123123123
AUTHENTIK_SECRET_KEY=123456789
AUTHENTIK_MOVIECHECKER_CLIENT_SECRET=moviesecret
AUTHENTIK_BOOTSTRAP_PASSWORD=123123123
AUTHENTIK_BOOTSTRAP_TOKEN=456789456
AUTHENTIK_BOOTSTRAP_EMAIL=admin@moviechecker.com